# Dependencies
node_modules
package-lock.json

# Build outputs
dist
build
.output
.vercel
.next

# Cache
.cache
.turbo
.eslintcache

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Environment
.env
.env.*
!.env.example

# Test coverage
coverage

# Git
.git
